<div>Id:{{id}} <br/>
Name :{{name}} <br/>
Avg:{{avg}} <br/><br/>


<b><u>Address</u></b><br/>
streetNo={{address.streetNo}} <br/>
city:{{address.city}} <br/>
state:{{address.state}} <br/><br/>


<b><u>Hobbies</u></b><br/>
<ul>
    <li *ngFor="let hobby of hobbies">{{hobby}} 

    </li>
</ul>
</div>

